anyio
certifi
charset-normalizer
click
fastapi
h11
idna
pydantic
requests
sniffio
starlette
typing_extensions
urllib3
uvicorn
requests
Pillow
opencv-python
jsonpickle
pymongo
tensorflow
pytz
fitz
loguru